body {
  font-family: "Hind Madurai", sans-serif;
  font-size: 18px;
  color: #000;
}
ul {
  display: flex;
}
li {
  list-style: none;
  text-decoration: none;
}
.app {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
}
.about {
  width: 30%;
  background-color: darkgray;
}
.projects {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  height: 48px;
  width: 100%;
  box-shadow: 0 6px 12px -3px rgba(9, 30, 66, 0.25),
    0 0 0 1px rgba(9, 30, 66, 0.08);
}
.navbar-btn {
  font-size: 20px;
  padding: 13px 20px;
}
.navbar-btn:hover {
  color: #007199;
  background-color: #ddecf1;
}
.horz-wrap {
  display: flex;
}
.active-link {
  text-decoration: none;
  color: #000;
}
.row-2 {
  max-width: 38em;
}
.col-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.name {
  font-size: 42px;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  width: 400px;
  margin: 4px 0;
}
.content-cont {
  width: 100%;
}
.about-section {
  display: flex;
  flex-direction: column;
  margin: 0 16px 8px 32px;
}
.picture-cont {
  height: 175px;
  min-height: 175px;
  width: 175px;
  min-width: 175px;
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 8em;
  margin: 60px 12px 36px;
}
.picture-img {
}
.slogan-cont {
  width: 60%;
}
.slogan-text {
}
.summary-cont {
  width: 65%;
}
.tech-skills-cont {
  margin: 24px 0;
  width: 100%;
}
.stack-list-item {
  width: 60px;
  height: 60px;
}
.project-item {
  height: 100%;
  width: 100%;
  min-height: 350px;
}
.prj-i-left {
  min-width: 75px;
  width: 20%;
  margin-right: 2em;
  justify-content: flex-start;
}
.prj-i-right {
  min-width: 200px;
  width: 55%;
  align-items: flex-start;
  margin: 0.5em;
}
.prj-title {
  font-size: 32px;
}
.prj-link {
  font-size: 14px;
}
.prj-desc {
  line-height: 28px;
  margin-top: 20px;
}
.contact-item {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 4px 0;
}
.icon {
  height: 32px;
  width: 32px;
  margin-right: 4px;
  background-color: hotpink;
  cursor: pointer;
}
.footer {
  height: 40px;
  background-color: #f5f5f5;
  width: 100%;
  box-shadow: 0 6px 12px -3px rgba(9, 30, 66, 0.25),
    0 0 0 1px rgba(9, 30, 66, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}
.section-title {
  font-size: 1.2em;
  font-weight: 700;
  color: #fff;
  padding-left: 16px;
  line-height: 40px;
  font-family: "Exo", serif;
}
.section-header-cont {
  width: 300px;
  background-color: #3895de;
  height: fit-content;
  border-radius: 2px;
}
.section-horz-line {
  width: 35%;
  height: 3px;
  background-color: black;
  border-radius: 3px;
  justify-self: flex-start;
}
.section-header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  height: 72px;
}
.project-section {
  width: 90%;
  height: fit-content;
}
.name-cont {
  margin: 0;
}
.profile-header-cont {
  margin-top: 52px;
  display: flex;
  width: 80%;
  margin-bottom: 16px;
  align-items: flex-end;
}
.skill-list {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.skill-cont {
}
.skill-icon {
  background-size: cover;
  height: 48px;
  width: 48px;
  background-repeat: no-repeat;
}
