:root {
  --txt-yw: rgb(252, 230, 35, 1);
  --txt-wht: #fff;
}

body {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
    "Lucida Console", Monaco, monospace;
  font-size: 13px;
  color: var(--txt-yw);
}
.projects,
.about,
.landing {
  width: 100%;
  max-width: 1000px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px auto;
}
ul {
  display: flex;
}
li {
  list-style: none;
  text-decoration: none;
}
.app {
  width: 100%;
  overflow: scroll;
  display: flex;
  background-color: rgb(10, 25, 47);
  align-items: center;
  flex-direction: column;
}
.sider {
  position: fixed;
  left: 16px;
  bottom: 20%;
  height: 450px;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.line {
  border-bottom: 1px solid white;
  margin-top: 4px;
}
.about {
  width: 40%;
}
.work {
}
/* .projects {
  width: 52.5%;
  min-width: 725px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-weight: 400;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25),
    0 0 0 1px rgba(9, 30, 66, 0.08);
  box-sizing: border-box;
  outline: 0;
  overflow: hidden;
} */
.navbar {
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  box-shadow: 0 6px 12px -3px rgb(66, 66, 9, 69%),
    0 0 0 1px rgba(9, 30, 66, 0.08);
  padding: 0 50px;
}
.main {
  padding: 200px 150px;
  margin: 0px auto;
  height: 100vh;
}
.nav-wrap {
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 70;
}
.navbar-btn {
  padding: 13px 20px;
}
.navbar-btn:hover {
  color: #007199;
  background-color: #ddecf1;
}
.horz-wrap {
  display: flex;
}
.active-link {
  text-decoration: none;
  color: var(--txt-wht);
}
.row {
  display: flex;
  align-items: center;
}
.col-1 {
  display: flex;
  padding: 0;
  position: relative;
  flex-direction: column;
}
.name {
  font-size: 42px;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  margin: 4px 0 0 40px;
}
.content-cont {
  width: 70%;
  margin-top: 24px;
}
.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}
.profile-cont {
  height: fit-content;
  width: fit-content;
  border: 2px solid white;
  border-radius: 8em;
  display: flex;
}
.profile-img {
  background-color: #fff;
  min-height: 200px;
  min-width: 200px;
  border-radius: 8em;
  width: 200px;
}
.slogan-cont {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}
.summary-cont {
  width: 65%;
}
.summary-text {
  margin: 0;
  padding-bottom: 8px;
  color: #fff;
  font-size: 0.95em;
}
.project-item {
  margin-bottom: 8px;
  max-width: 250px;
  position: relative;
}
.work-content {
  min-width: 800px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
}
.tech-skills-cont {
  width: 350px;
}
.skill-item {
  height: 20px;
  width: 175px;
  font-size: 11.5px;
}
.prj-title {
  font-size: 19px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: var(--txt-yw);
  padding: 6px 12px;
  border-radius: 2px;
  justify-content: space-between;
}
.prj-title:hover {
  background: rgba(9, 30, 66, 0.04);
}
.prj-link {
  font-size: 14px;
}

.prj-title.row a i:hover {
  font-weight: 900;
}

.prj-desc {
  line-height: 18px;
  font-size: 0.85em;
  font-family: "Hind Madurai", sans-serif;
  font-size: 13.5px;
  color: var(--txt-wht);
}
.contact-item {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 8px 0;
}
.icon {
  height: 24px;
  width: 24px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}
.icon:hover {
}
.icon:hover a {
  margin-top: 3px;
}
.section-title {
  font-size: 22px;
  font-weight: 700;
  padding-left: 16px;
  line-height: 20px;
  font-family: "Roboto", sans-serif;
  width: 95%;
  margin-bottom: 12px;
  color: #fff;
}
/* 
.section-horz-line {
  width: 70%;
  margin-top: 12px;
  height: fit-content;
  border-top: 5px double #142d3b;
  justify-self: flex-start;
} */
.section-header {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  height: 72px;
  margin-top: 16px;
}
.project-section {
  height: fit-content;
}
.name-cont {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}
.profile-header-cont {
  margin-top: 52px;
  display: flex;
  width: 80%;
  margin-bottom: 16px;
  align-items: flex-end;
}
.profile-wrap {
  display: flex;
  width: fit-content;
  width: 100%;
  justify-content: center;
  margin-top: 16px;
}
.skill-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.skill-icon {
  background-size: contain;
  height: 50px;
  width: 75px;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid white;
  border-radius: 3px;
  margin: 4px 8px;
  font-weight: 400;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25),
    0 0 0 1px rgba(9, 30, 66, 0.08);
  box-sizing: border-box;
  outline: 0;
  overflow: hidden;
}
.project-img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 32em;
  min-height: 22em;
}
.about-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects-cont {
  width: 97%;
  display: flex;
  flex-direction: column;
}

.contact-links {
  margin-left: 8px;
}
.email-sider {
  right: 0;
  position: fixed;
  top: 50%;
  bottom: 0;
  width: -moz-fit-content;
  width: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-right: 8px;
}
.email-wrap {
  height: 175px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fixed-email {
  transform: rotate(90deg);
  font-size: 14px;
  color: #fff;
}
.fa {
  font-size: 32px;
  color: var(--txt-wht);
}
.fa:hover {
  color: var(--txt-yw);
}
.active-project-cont {
  width: fit-content;
  position: absolute;
  right: 16px;
  top: -20px;
}
.open-link-icon {
  height: 16px;
  width: 16px;
  position: absolute;
  right: 8px;
  top: 8px;
}
.nav-num {
  font-size: 11px;
}
