body {
  font-family: "Hind Madurai", sans-serif;
  font-size: 16px;
  color: #000;
}
ul {
  display: flex;
}
li {
  list-style: none;
  text-decoration: none;
}
.app {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
}
.sider {
  position: fixed;
  top: 50%;
  left: 0;
  bottom: 50%;
  height: 300px;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.about {
  width: 35%;
  background-color: darkgray;
  justify-content: flex-end;
  display: flex;
}
.projects {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  height: 48px;
  width: 100%;
  box-shadow: 0 6px 12px -3px rgba(9, 30, 66, 0.25),
    0 0 0 1px rgba(9, 30, 66, 0.08);
}
.navbar-btn {
  font-size: 20px;
  padding: 13px 20px;
}
.navbar-btn:hover {
  color: #007199;
  background-color: #ddecf1;
}
.horz-wrap {
  display: flex;
}
.active-link {
  text-decoration: none;
  color: #000;
}
.row-2 {
  max-width: 38em;
}
.col-1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
}
.name {
  font-size: 42px;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  width: 400px;
  margin: 4px 0;
}
.content-cont {
  width: 100%;
}
.about-section {
  display: flex;
  flex-direction: column;
  margin: 0 24px 8px 40px;
}
.profile-cont {
  height: fit-content;
  width: fit-content;
  border: 2px solid white;
  border-radius: 8em;
  display: flex;
}
.profile-img {
  background-color: blue;
  min-height: 175px;
  min-width: 175px;
  border-radius: 8em;
  width: 175px;
}
.slogan-cont {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}
.slogan-text {
}
.summary-cont {
  width: 65%;
}
.summary-text {
  margin: 0;
}
.tech-skills-cont {
  width: 100%;
}

.project-item {
  height: 100%;
  width: 100%;
  display: flex;
  margin-bottom: 24px;
  align-items: center;
  justify-content: space-evenly;
}
.project-item:nth-child(odd) {
  display: flex;
  flex-direction: row-reverse;
}
.project-item:nth-child(odd) div.prj-i-right {
  align-items: flex-start;
}
.project-item:nth-child(odd) div.prj-i-right a.prj-title {
  margin-left: 16px;
  margin-right: 14px;
}
.project-item:nth-child(even) div.prj-i-right a.prj-title {
  margin-right: 24px;
  margin-left: 14px;
}
.prj-i-right {
  width: 33.5%;
  align-items: flex-end;
}
.prj-title {
  font-size: 32px;
  text-decoration: none;
  color: black;
}
.prj-title:hover {
  color: #3895de;
}
.prj-link {
  font-size: 14px;
}
.prj-desc {
  line-height: 20px;
}
.contact-item {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 4px 0;
}
.icon {
  height: 32px;
  width: 32px;
  margin-right: 4px;
  background-color: hotpink;
  cursor: pointer;
}
.footer {
  height: 40px;
  background-color: #f5f5f5;
  width: 100%;
  box-shadow: 0 6px 12px -3px rgba(9, 30, 66, 0.25),
    0 0 0 1px rgba(9, 30, 66, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}
.section-title {
  font-size: 1.2em;
  font-weight: 700;
  color: #fff;
  padding-left: 16px;
  line-height: 40px;
  font-family: "Quattrocento", sans-serif;
}
.section-header-cont {
  width: 300px;
  background-color: #3895de;
  height: fit-content;
  border-radius: 2px;
}
.section-horz-line {
  width: 70%;
  height: 2.15px;
  margin-top: 16px;
  background-color: black;
  border-radius: 3px;
  justify-self: flex-start;
}
.section-header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  height: 72px;
}
.project-section {
  width: 90%;
  height: fit-content;
}
.name-cont {
  margin: 0;
}
.profile-header-cont {
  margin-top: 52px;
  display: flex;
  width: 80%;
  margin-bottom: 16px;
  align-items: flex-end;
}
.skill-list {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}
.skill-cont {
  margin: 0 20px;
}
.skill-icon {
  background-size: contain;
  height: 50px;
  width: 75px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 24px;
}
.project-img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 34em;
  min-height: 20em;
  width: 100%;
}

.about-cont {
  width: 66%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects-cont {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.sider-vert-line {
  height: 100%;
  width: 2.25px;
  background-color: black;
}
.contact-links {
  margin-left: 8px;
}
.email-sider {
  right: 0;
  position: fixed;
  top: 50%;
  bottom: 50%;
  height: 300px;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
